<div class="container-fluid">
    <div class="row vh-100">
      <div class="column-md-6 vh-md-100 vh-sm-25 background__main auth-side"></div>
      <div class="column-md-6 vh-md-100">
        <div class="jumbotron display-flex align-items-center min-vh-md-100 min-vh-sm-75">
          <div class="container">
            <h2>Hello 👋,</h2>
            <p class="text-muted">Welcome back</p>
            <form >
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>

              <div class="display-flex">
                <button class="mx-auto btn btn-main w-75 mb-3" routerLink="../home">LOGIN</button>
              </div>

              <div class="text-center">Don't have an account <a class="text-main" routerLink="../register">Register</a></div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>